html, body{
    background-color: #E14B72;
}

*{
    color: black;
    text-align: center;
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

a:hover{
    color: #B5163B;
    font-weight: bold;
}

.container-header{
    align-items: center;
    background-color: #B5163B;
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
}

.container-texto{
    background-color: #B5163B;
    color: white;
    font-size: 20px;
    padding: 25px;
    border-radius: 15px;
    border: 2px solid black;
}

.container-table{
    align-items: center;
    background-color: #F2A5C0;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding: 10px;
}

table{
    margin: auto;
}

hr{
    border: 2px solid #F2A5C0;
    border-radius: 5px;
}