<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juego del gato de gatos</title>
</head>
<body>
    <div class="juego-container">
        <div>
            <h1>Juego del gato de gatos</h1>
            <div id="iniciarBoton" onclick="reiniciar();">
                Reiniciar juego
            </div>
            <div id="instrucciones">
                <h2>Instrucciones del juego</h2>
                <ul id="lista-instrucciones"></ul>
            </div>
            <div id="ultimo-mov">
                <h2>Último movimiento</h2>
                <div id="flecha" class="texto-centrado"></div>
            </div>
        </div>
    </div>
    <div class="tablero-container">
        <div id="casilla1" class="casilla-container">
        </div>
        <div id="casilla2" class="casilla-container">
        </div>
        <div id="casilla3" class="casilla-container">
        </div>
        <div id="casilla4" class="casilla-container">
        </div>
        <div id="casilla5" class="casilla-container">
        </div>
        <div id="casilla6" class="casilla-container">
        </div>
        <div id="casilla7" class="casilla-container">
        </div>
        <div id="casilla8" class="casilla-container">
        </div>
        <div id="casilla9" class="casilla-container">
        </div>
    </div>
</body>
</html>