html, body{
    background-color: rgb(15, 15, 15);
}

*{
    padding: 0;
    margin: 0;
    color: whitesmoke;
    text-align: center;
}

.container-main{
    background-color: rgb(130, 130, 130);
    border: 8px;
    border-radius: 25px;
    padding: 5px;
    margin: 1rem;
}

nav li, nav a, nav ul{
    list-style-type: none;
    display: inline-flex;
    text-decoration: none;
    margin: 10px;
    font-size: 1.25rem;
    font-family: sans-serif;
}

.container-section{
    text-align: justify;
    background-color: rgb(171, 171, 171);
}

footer{
    background-color: rgb(171, 171, 171);
    text-align: center;
    text-decoration: solid;
}