html, body{
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe293 100%);
}

*{
    padding: 0;
    margin: 0;
    color: black;
    text-align: center;
    font-family: sans-serif;
}

.container-main{
    border-radius: 25px;
    padding: 5px;
    margin: 1rem;
}

 nav a, nav ul{
    list-style-type: none;
    display: inline-flex;
    text-decoration: none;
    margin: 10px;
    font-size: 20px;
}

li{
    list-style-type: none;
    text-decoration: none;
    text-align: justify;
}

 section, footer, aside, article{
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem;
}

article, aside{
    width: 50%;
    height: 40%;
}

p{
    text-align: left;
    font-size: 1rem;
}

.container-section{
    background: linear-gradient(135deg, rgb(104, 238, 248) 0%, rgb(52, 137, 176) 100%);
    display: flexbox;
    gap: 1rem;
    text-align: justify;
    justify-items: center;
    box-shadow: 0 10px 30px rgba(52, 137, 176, 0.3);
}

hr{
    border: none;
    height: 2px;
    background-color: #333;
    margin: 20px 0;
}

.container-footer{
    text-align: center;
    text-decoration: solid;
}