html, body{
    background-color: whitesmoke;
}

*{
    padding: 0;
    margin: 0;
    color: black;
    text-align: center;
    font-family: sans-serif;
}

.container-main{
    background-color: rgb(104, 238, 248);
    border: 5px solid rgb(52, 137, 176);
    border-radius: 25px;
    padding: 5px;
    margin: 1rem;
}

nav li, nav a, nav ul{
    list-style-type: none;
    display: inline-flex;
    text-decoration: none;
    margin: 10px;
    font-size: 20px;
}

li{
    list-style-type: none;
    text-decoration: none;
    text-align: justify;
}

 section, footer, aside, article{
    background-color: rgb(104, 238, 248);
    border: 4px solid rgb(52, 137, 176);
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem;
    text-align: justify;
}

article, aside{
    width: 50%;
    height: 30%;
    display: inline-flexbox;
}

p{
    text-align: left;
    font-size: 1rem;
}

.container-section{
    text-align: justify;
}

.container-footer{
    text-align: center;
    text-decoration: solid;
}