tml,
body {
    background-color: #E14B72;
}

* {
    color: black;
    text-align: center;
    font-family: sans-serif;
}

h1, header{
    font-family: "Lexend", sans-serif;
    font-size: 35px;
}

h2{
    font-family: "Outfit", sans-serif;
    font-size: 25px;
}

h3{
    font-family: "Funnel Display", sans-serif;
    font-size: 22px;
}

p, a, td, th, label{
    font-family: "Zain", sans-serif;
    font-size: 20px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #B5163B;
    font-weight: bold;
}

.container-texto{
    align-items: center;
    text-align: justify;
    margin: 0 15%;
    background-color: #F2A5C0;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
}

.container-form{
    align-items: center;
    text-align: center;
    margin: 25px 25%;
    background-color: #F2A5C0;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
}

form{
    padding: 15px;
    display: flex;    
    flex-direction: column;;
}

